/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2015, 12:05:52 PM
    Author     : penguin
*/
a{
    text-decoration:none;
    //color: #337ab7;
}
.cookie-message-wrapper {
    padding-bottom: 22px;
    padding-top: 20px;
}
.cookie-message-wrapper .button-close-cookie {
    background: #a8adb3 none repeat scroll 0 0;
    border: 1px solid #9ca0a6;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    text-shadow: 0 1px 0 #7b838c;
    width: 100%;
}
 .hidden-xs.button-close-cookie-text {
    position: relative;
    margin-left: -10px;
}
.glyphicon.glyphicon-remove {
    position: absolute;
}
#page-title-container h1{
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}
.section-main-content{
    background: #eee;
    margin-top: -20px;
}
.navbar .brand {
    max-height: 50px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar a.navbar-brand {
    padding: 0px 15px 0px;
}

.navbar-right .dropdown-menu li a{
    position: relative;
}
.navbar-right .dropdown-menu li a img{
    height: 15px;
    position: absolute;
    right: 10px;
    top: 4px;
    width: 25px;
}
.sorting-ico  span.glyphicon{
    font-size: 20px;
}

.navbar-nav > li {
    height: 50px;
}

#search-navbar-collapse-1 ul{
    background: #F8F8F8;
}
.navbar-nav li.sorting-ico{
    z-index: 100;
}
.search-panel-wrapper li:hover{
    background: #eee;
}
/* search form css */

#custom-search-input {
    margin:0;
    margin-top: 0px;
    padding: 0;
    // width: 200%;
}

#custom-search-input .search-query {
    margin-left: 10px;
    margin-right: 140px;
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    //margin-top: 2px;
    position: relative;
    left: -20px;
    font-size: 20px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    //color:#D9230F;
    color: #525252;
}

.search-query:focus + button {
    z-index: 3;   
}
#custom-search-input button:hover{
    background: #eee;
}
/* search form css end */
.object-inner-wrapper{
    border: 1px solid #ccc;
    border-radius: 3px;
}
.object-item{
    color: #7b838c;
    margin-bottom: 30px;
}
.object-thumbnail{
    position: relative;
}
.add-favorite-button {
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: -2px;
}
.add-favorite-button .glyphicon-bookmark {
    color: #666666;
    font-size: 40px;
    position: relative;
    cursor: pointer;
    text-shadow: -2px 0 #eeeeee, 0 2px #eeeeee, 2px 0 #eeeeee, 0 -2px #eeeeee;
}
.add-favorite-button .glyphicon-bookmark:hover {
    color: #FC6666;
}
.glyphicon.glyphicon-star {
    color: #fff;
    font-size: 15px;
    left: 15px;
    position: absolute;
    top: 6px;
    z-index: 10;
    text-shadow: 0px 0 #ffffff, 0 0px #ffffff, 0px 0 #ffffff, 0 0px #ffffff;
}
.object-info-holder{
    background: #fff;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    text-align: center;
    padding: 15px 37px 19px 37px;
    font-size: 12px;
    line-height: 1.5;
}
.info-address{
    margin-bottom: 15px;  
}
.info-address a{
        float: left;
    padding: 2px 9px;
    border-right: 1px solid #d3d6d9;
    line-height: 1;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #7b838c;
    text-decoration: none;
    }
.info-title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 15px 0;
    color: #233140;
}
.info-title a{
        color: #233140;
        text-decoration: none;
    }
.info-details{
    margin: 0;
}
#scroll_up {
    width: 30px;
    margin: 0 auto;
    font-size: 14px;
    cursor: pointer;
    display: none;
}
#scroll_up.to_top_visible {
    bottom: 10px;
    display: none;
    padding-bottom: 0;
    position: fixed;
    right: 80px;
    z-index: 1000;
}

#scroll_up span {
    background: #d3d6d9 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    font-size: 25px;
    height: 45px;
    line-height: 1;
    margin: 0 auto;
    opacity: 0.85;
    padding-bottom: 6px;
    padding-top: 10px;
    text-align: center;
    width: 45px;
}
/*addproperty css*/
.add-object-section-top.add-object-sub-section {
    background: #eeeeee none repeat scroll 0 0;
    padding: 65px;
}
.add-object-section-photo.add-object-sub-section {
    background: #fff none repeat scroll 0 0;
    padding: 70px;
}
.add-object-section-description.add-object-sub-section {
    background: #fff none repeat scroll 0 0;
    padding: 70px;
}
.add-object-section-mandate.add-object-sub-section {
    padding-bottom: 42px;
    padding-top: 52px;
}
.add-object-section-mail.add-object-sub-section {
    background: #4f5a66 none repeat scroll 0 0;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}
.add-object-section-mail .image_holder {
    margin-bottom: 50px;
}
.add-object-section-mail .text > p {
    font-size: 30px;
    line-height: 40px;
}
.add-object-section-mail .text > p > a{
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    text-decoration:none;
}

.add-object-section-results {
    padding-bottom: 35px;
    padding-top: 50px;
    background: #fff none repeat scroll 0 0;
}
.heading {
    position: relative;
}
.text_holder .free {
    background: #219320 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: bold;
    left: 242px;
    opacity: 0.5;
    padding: 4px;
    position: absolute;
    top: -3px;
}

/*footer css*/
.contact-info > span {
    display: block;
}
.social-icon > a {
    color: #9d9d9d;
    text-decoration: none;
    margin: 5px;
}
.social-icon > a:hover {
    color: #666666;
}
.social-icon span {
    font-size: 20px;
}
.section-contact-page{
    margin-top: -20px;
}
.section-contact-page .contact_top {
    background: #eeeeee none repeat scroll 0 0;
    color: #233140;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 80px;
    padding-top: 48px;
    text-align: left;
}
.section-contact-page .contact_top .contact_image_holder {
    margin-bottom: 0;
    text-align: center;
}
.section-contact-page .contact_top h1 {
    font-size: 30px;
    margin-bottom: 19px;
    padding-top: 70px;
}
.section-contact-page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contacts_holder a {
    color: #233140;
    text-decoration: none;
}
.contact_main .contact-section {
    padding-top: 47px;
}
.above-form-section {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
    color: #4f5a66;
    text-align: center;
}
.above-form-section .contact-section-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #233140;
    line-height: 40px;
}
.sup-free {
    background: rgba(1, 119, 0, 0.54) none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 9px;
    left: 2px;
    padding: 3px;
    top: -8px;
}
.above-form-section .contact-section-text {
    width: 515px;
    margin: 0 auto;
}
.contact-form .form-message {
    border-radius: 3px;
    color: #ffffff;
    display: none;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 11px 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 22px;
}
.contact-form .form-message.error-form-message {
    background: #eb5b3e none repeat scroll 0 0;
    border: 1px solid #cc4e35;
}
.contact-form .form-message.success-form-message {
    background: #92c361 none repeat scroll 0 0;
    border: 1px solid #7ca653;
}
.contact-form .form-row {
    margin-left: -15px;
    margin-right: -15px;
}
.contact-form .form-group {
    float: left;
    margin-bottom: 20px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}
.contact-form .form-group {
    margin-bottom: 30px;
}
.contact-form .form-group.form-group-name, .contact-form .form-group.form-group-email, .contact-form .form-group.form-group-phone {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.contact-form .form-group.form-group-name, .contact-form .form-group.form-group-email, .contact-form .form-group.form-group-phone {
    float: left;
    width: 33.3333%;
}
.contact-form .form-inner-row {
    margin-left: 0;
    margin-right: 0;
}
.contact-form .form-group.form-group-button {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%;
    left: 50%;
}
.contact-form .submit {
    background: #92c361 none repeat scroll 0 0;
    border: 1px solid #a8adb3;
    border-radius: 3px;
    color: #fff;
    display: block;
    line-height: 1;
    outline: medium none;
    padding: 15px;
    text-shadow: 0 -1px 0 #7ca653;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    padding: 19px;
}
.contact-form .submit:hover {
    background: #ACCC8A  none repeat scroll 0 0;
}
.contact-form .form-group-disclaimer {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #7b838c;
    margin-bottom: 0;
}
.contact-form .form-group.form-group-disclaimer {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%;
    right: 50%;
}
.glyphicon-lock::before {
    content: "î€³";
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 10px;
}
.note-text {
    margin-left: 25px;
}
.section-contact-page .contact_page_offices {
    background: #eeeeee none repeat scroll 0 0;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 30px;
    padding-top: 55px;
}
.section-contact-page .contact_page_offices h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 35px;
    margin-top: 0;
    text-align: center;
}
.objects-list-wrapper .object-item, .init-objects-holder .object-item {
    color: #7b838c;
    float: left;
    margin-bottom: 20px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 50%;
}
.objects-list-wrapper .object-item .object-inner-wrapper, .init-objects-holder .object-item .object-inner-wrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.objects-list-wrapper .object-item .object-thumbnail, .init-objects-holder .object-item .object-thumbnail {
    position: relative;
}
.objects-list-wrapper .object-item .object-thumbnail .object-thumbnail-holder, .init-objects-holder .object-item .object-thumbnail .object-thumbnail-holder {
    display: block;
    height: 266px;
    min-height: 266px;
    overflow: hidden;
}
    /*about page css*/
    .about-section .about_section {
    background: #ffffff none repeat scroll 0 0;
    color: #233140;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

.about-section .about_section_top {
    padding-bottom: 46px;
    padding-top: 55px;
}

.about-section .about_section.about_section_grey {
    background: #eee none repeat scroll 0 0;
    color: #233140;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 46px;
   // padding-top: 55px;
}
 
.about-section .about_section_top .about-top-col {
    padding-left: 147px;
    padding-right: 147px;
}
.about-section .about_section_sell {
    padding-bottom: 57px;
    padding-top: 55px;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
}    
 .about-section .about_section_sell .about-image-col {
    padding-top: 5px;
}
.about-section .about_section_sell .about_text {
    margin-bottom: 30px;
}
.about-section .about_section h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 18px;
    font-weight: 400px;
    margin-top: 0px;
}
.about-section .about_section_sell .about_section_sell_link {
    color: #7b838c;
    text-decoration: underline;
}

.about-section .about_section_search {
    background: #eee none repeat scroll 0 0;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: left;
     color: #233140;
}
.about-section .about_section_search .about-image-col {
    text-align: right;
}
.about-section .about_section .about_text {
    margin-bottom: 0;
}
.about-section .about_section_search h2 {
    padding-top: 45px;
}

.about-section .about_section_investments {
    padding-bottom: 60px;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
}
.figure-stripe-down {
    background: #92c361 none repeat scroll 0 0;
    height: 1px;
    margin-bottom: 55px;
}
.figure-stripe-down span {
    background: #92c361 none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin: 0 auto;
    position: relative;
    width: 128px;
}
.figure-stripe-down span::after {
    border-color: #92c361 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 0;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: 4;
}
.figure-stripe-down span::before {
    border-color: #ffffff transparent transparent;
    border-style: solid;
    border-width: 11px 11px 0;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: 5;
}

.above-form-section {
    color: #4f5a66;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 27px;
    text-align: center;
    margin-bottom: 30px;
}
/*single post page css*/

.single-object_post_type #single-page-object-item {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #233140;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 80px;
}
.single-object_post_type .images-slider-holder {
    background: #eee none repeat scroll 0 0;
    margin-bottom: 20px;
}
.bx-wrapper {
    margin-bottom: 0;
    padding: 0;
    position: relative;
}
.bx-wrapper .bx-viewport {
    background: #fff none repeat scroll 0 0;
    transform: translateZ(0px);
    border: medium none;
    border-radius: 2px 2px 0 0;
    box-shadow: none;
    left: 0;
}
    /*footer css*/
footer{
    background: #e6e6e6 none repeat scroll 0 0;
    border-top: 1px solid #cccccc;
    color: #4f5a66;
    padding-bottom: 57px;
    font-size: 13px;
    line-height: 20px;
    padding-top: 45px;
    text-align: left;
}
@media (min-width: 768px){
    .object-info-holder{
        padding: 16px 20px 16px 20px;
        font-size: 14px;
        line-height: 30px;
        text-align: left;
    }
    .info-address{
        padding-top: 6px;
        padding-bottom: 6px;
        margin-bottom: 7px;
    }
    .info-address a:first-child, .init-objects-holder .object-item .info-address a:first-child {
    padding-left: 0;
}
    .info-title{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .info-details{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
}