/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2015, 12:05:52 PM
    Author     : penguin
*/
.navbar-brand {
    padding: 0px;
}
.form-horizontal .control-label {
    text-align: left;
}
legend a {
  color: inherit;
}

fieldset{
font-family: Verdana, Arial, sans-serif;
font-size: small;
font-weight: normal;
border: 1px solid #999999;
padding: 4px;
margin: 5px;
}
legend{
padding-left: 5px;
padding-right: 5px;
margin-top: 1.5em;
font-size: 90%;
color: #888888;
background-color: transparent;
font-weight: bold;
width: auto;
border-bottom: 0px;
}
.images{
    position: relative;
    width: 30%;
    margin-bottom: 10px;
}
.images img {
    display: inline;
    margin: 5px;
    padding: 0;
   // width: 30%;
}
.post-images.row .form-group.pull-right {
    padding-right: 5px;
}

.table tr td img{
    width: 10%;
}
.table tr td{
    vertical-align: middle;
}
.fimage{
    width: 50%;
}
.img-row{
    margin-top: 10px;
}
.delete{
    margin-top: 10px;
}
.remove{
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 16px;
}
